<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Menu Principal de la App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list appAccordion class="menu-vertical">
            <mat-list-item appAccordionLink *ngFor="let menuitem of fillerNav" routerLinkActive='selected'>
                <a class="" appAccordionToggle [routerLink]="['/',menuitem.state]" *ngIf="menuitem.type === 'link'">
                    <mat-icon>{{menuitem.icon}}</mat-icon>
                    <span>{{menuitem.name}}</span>
                    <span fxFlex></span>
                </a>
            </mat-list-item>
        </mat-nav-list>
         
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>