.radio {
    display: flex;
    flex-direction: column;
}
mat-form-field {
    width: 100%;
}
.input-fecha{
    display:flex;
}
.fecha{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.input-monetary{
    display:flex;
}