
<div class="container">
    <div class="card-container">
        <div class="card-info-container">
            <mat-card class="card-info">
                <mat-card-title>Welcome!</mat-card-title>
                <mat-card-subtitle>SDE - Sistema de Gestión de Expediente</mat-card-subtitle>
                <mat-card-footer>footer</mat-card-footer>
            </mat-card>
        </div>
        <mat-card class="card-login">
            <mat-card-title-group>
                <mat-card-title>LogIn</mat-card-title>
                <img mat-card-sm-image src="/ui/src/assets/images/CardenalCapasfondoBlanco.png">
            </mat-card-title-group>
            <mat-card-content>
                <log-in-form></log-in-form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>olvide mi contraseña</button>
                <button mat-button>REGISTRARME</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>