.generic-form-comp .id { grid-area: id;}
.generic-form-comp .nombre { grid-area: nom;}
.generic-form-comp .apellido { grid-area: ape;}
.generic-form-comp .fechaNacimiento { grid-area: nac;}
.generic-form-comp .sexo { grid-area: sexo;}
.generic-form-comp .email { grid-area: mail;}
.generic-form-comp .telefono { grid-area: tel;}
.generic-form-comp .movil { grid-area: movil;}
.generic-form-comp .fax { grid-area: fax;}
.generic-form-comp .tipoDocumento { grid-area: tipo;}
.generic-form-comp .documento { grid-area: doc;}
.generic-form-comp .callePrincipal { grid-area: calle;}
.generic-form-comp .calleSecundaria { grid-area: calle2;}
.generic-form-comp .localidad { grid-area: loc;}
.generic-form-comp .codigoPostal { grid-area: postal;}
.generic-form-comp .provincia { grid-area: prov;}
.generic-form-comp .pais { grid-area: pais;}
.generic-form-comp .titulo { grid-area: titulo;}
.generic-form-comp .puesto { grid-area: puesto;}
.generic-form-comp .btn { grid-area: btn;}

.generic-form-comp form{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-areas: 
        "id id id id" "nom nom ape ape" "nac nac . ." "sexo sexo sexo sexo"
        "mail mail mail ." "tel tel tel ." "movil movil movil ." "fax fax fax ."
        "tipo doc doc ." "calle calle calle2 calle2" "loc loc postal ." "prov pais . ."
        "titulo puesto puesto ." ". btn btn .";
    outline: 2px solid orange;
}

.generic-form-comp-smallDevice form {
    width: 90% !important;
    margin: 0 auto !important;
    padding: .5rem !important;
    display: flex !important;
    flex-direction: column !important;
    outline: 2px solid slateblue !important;

}