<div class="component-viewer" [ngClass]="{'component-viewer-smallDevice': isSmallDevice}">
    <mat-toolbar color="primary">
        <div class="toolbar-btn-container" *ngFor="let btn of this.buttons">
            <a mat-flat-button *ngIf="btn.type === 'link'" color="accent" [routerLink]="['/personas', btn.state]">{{btn.name}}</a>
        </div>
        <div class="toolbar-title">
            <span>{{entity}}</span>
        </div>
        <div class="toolbar-search-container">            
            <span>Search Bar: not implemented yet</span>
        </div>
      </mat-toolbar>

    <div class="component-viewer-content">
        <router-outlet></router-outlet>
    </div>
</div>
