<div class="component-viewer">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="component-viewer-tab-nav">
        <a mat-tab-link 
            [routerLink]="['personas', 'list']"
            (click)="activeLink = 'List'"
            [active]="activeLink == 'List'">List</a>
        <a mat-tab-link
            [routerLink]="['personas', 'new']"
            (click)="activeLink = 'New'"
            [active]="activeLink == 'New'">New</a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    <div class="component-viewer-content">
        <router-outlet></router-outlet>
    </div>
</div>
