:host{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
}

.register {
    width: 30vw;
    height: 70vh;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-header, .register-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.register-form mat-form-field {
    width: 100%;
}

.register-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* justify-content: space-between; */
}